version: "3.8"

services:
  #Kafka
  KafkaAndFlinkExampleKafka:
    image: confluentinc/cp-kafka:7.7.7
    container_name: KafkaAndFlinkExampleKafka
    hostname: KafkaAndFlinkExampleKafka
    ports:
      - "9092:9092"     # External - host (localhost)
      - "9091:9091"     # Internal - host (localhost)
    environment:
      # Kafta
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CLUSTER_ID: "WKLEJ_TU_CLUSTER_ID"
      CLUSTER_ID: "2c8f7f2a-1f3d-4f7a-9d8d-8b6d5c3a1f90"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@KafkaAndFlinkExampleKafka:29093"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"

      # Listenery
      KAFKA_LISTENERS: "INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:9091,CONTROLLER://0.0.0.0:29093"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://KafkaAndFlinkExampleKafka:9092,EXTERNAL://localhost:9091"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"

      # Single-node dev
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    volumes:
      - ./volumes/kafka/data:/var/lib/kafka/data
    networks:
      - kafka-and-flink-example-network

  KafkaAndFlinkExampleKafkaSchemaRegistry:
    image: confluentinc/cp-schema-registry:7.7.7
    container_name: KafkaAndFlinkExampleKafkaSchemaRegistry
    hostname: KafkaAndFlinkExampleKafkaSchemaRegistry
    depends_on:
      - KafkaAndFlinkExampleKafka
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: "KafkaAndFlinkExampleKafkaSchemaRegistry"
      SCHEMA_REGISTRY_LISTENERS: "http://0.0.0.0:8081"
      # bootstrap servers
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: "KafkaAndFlinkExampleKafka:9092"
    networks:
      - kafka-and-flink-example-network

  KafkaAndFlinkExampleKafkaConnect:
    image: confluentinc/cp-kafka-connect:7.7.7
    container_name: KafkaAndFlinkExampleKafkaConnect
    hostname: KafkaAndFlinkExampleKafkaConnect
    depends_on:
      - KafkaAndFlinkExampleKafka
      - KafkaAndFlinkExampleKafkaSchemaRegistry
    ports:
      - "8083:8083"
    environment:
      CONNECT_BOOTSTRAP_SERVERS: "KafkaAndFlinkExampleKafka:9092"
      CONNECT_REST_PORT: "8083"
      CONNECT_REST_ADVERTISED_HOST_NAME: "connect"

      CONNECT_GROUP_ID: "connect-cluster"
      CONNECT_CONFIG_STORAGE_TOPIC: "connect-configs"
      CONNECT_OFFSET_STORAGE_TOPIC: "connect-offsets"
      CONNECT_STATUS_STORAGE_TOPIC: "connect-status"
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: "1"

      # Converters (Avro -> Schema Registry)
      CONNECT_KEY_CONVERTER: "io.confluent.connect.avro.AvroConverter"
      CONNECT_VALUE_CONVERTER: "io.confluent.connect.avro.AvroConverter"
      CONNECT_KEY_CONVERTER_SCHEMA_REGISTRY_URL: "http://KafkaAndFlinkExampleKafkaSchemaRegistry:8081"
      CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: "http://KafkaAndFlinkExampleKafkaSchemaRegistry:8081"

      # Internal converters (bez SR)
      CONNECT_INTERNAL_KEY_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_INTERNAL_VALUE_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_INTERNAL_KEY_CONVERTER_SCHEMAS_ENABLE: "false"
      CONNECT_INTERNAL_VALUE_CONVERTER_SCHEMAS_ENABLE: "false"

      # Required by Kafka Connect
      CONNECT_PLUGIN_PATH: "/usr/share/java,/usr/share/confluent-hub-components"
    volumes:
      - ./volumes/connect/plugins:/usr/share/confluent-hub-components
    networks:
      - kafka-and-flink-example-network

  KafkaAndFlinkExampleKafkaRest:
    image: confluentinc/cp-kafka-rest:7.7.7
    hostname: KafkaAndFlinkExampleKafkaRest
    container_name: KafkaAndFlinkExampleKafkaRest
    links:
      - KafkaAndFlinkExampleKafka
      - KafkaAndFlinkExampleKafkaConnect
    depends_on:
      - KafkaAndFlinkExampleKafka
      - KafkaAndFlinkExampleKafkaConnect
    ports:
      - 8082:8082
    environment:
      KAFKA_REST_HOST_NAME: KafkaAndFlinkExampleKafkaRest
      KAFKA_REST_BOOTSTRAP_SERVERS: "KafkaAndFlinkExampleKafka:9092"
      KAFKA_REST_LISTENERS: "http://0.0.0.0:8082"
    networks:
      - kafka-and-flink-example-network

  #Flink
  KafkaAndFlinkExampleJobManager:
    image: flink:1.20
    container_name: KafkaAndFlinkExampleJobManager
    ports:
      - "8084:8081"  # Web UI
    command: jobmanager
    environment:
      - JOB_MANAGER_RPC_ADDRESS=KafkaAndFlinkExampleJobManager
      - web.upload.dir=/opt/flink/web-upload
    networks:
      - kafka-and-flink-example-network
    volumes:
      - ./volumes/flinkUpload:/opt/flink/web-upload

  KafkaAndFlinkExampleTaskManager:
    image: flink:1.20
    container_name: KafkaAndFlinkExampleTaskManager
    depends_on:
      - KafkaAndFlinkExampleJobManager
    command: taskmanager
    environment:
      - JOB_MANAGER_RPC_ADDRESS=KafkaAndFlinkExampleJobManager
      - TASK_MANAGER_NUMBER_OF_TASK_SLOTS=2
    networks:
      - kafka-and-flink-example-network

networks:
  kafka-and-flink-example-network:
    driver: bridge