version: "2"

services:
  KafkaAndFlinkExampleZookeeper:
    container_name: KafkaAndFlinkExampleZookeeper
    image: confluentinc/cp-zookeeper:7.3.3
    ports:
      - "2181:2181"
    hostname: KafkaAndFlinkExampleZookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    volumes:
      - ./volumes/zookeeper/data:/var/lib/zookeeper/data
      - ./volumes/zookeeper/log:/var/lib/zookeeper/log
    networks:
      - kafka-and-flink-example-network

  KafkaAndFlinkExampleKafka:
    container_name: KafkaAndFlinkExampleKafka
    image: confluentinc/cp-kafka:7.3.3
    hostname: KafkaAndFlinkExampleKafka
    ports:
      - "9092:29092"
      - "9091:9091"
    links:
      - KafkaAndFlinkExampleZookeeper
    depends_on:
      - KafkaAndFlinkExampleZookeeper
    environment:
      ADVERTISED_HOST_NAME: "KafkaAndFlinkExampleKafka"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT"
      KAFKA_ADVERTISED_LISTENERS: "EXTERNAL://localhost:9091,PLAINTEXT://KafkaAndFlinkExampleKafka:9092"
      KAFKA_ZOOKEEPER_CONNECT: KafkaAndFlinkExampleZookeeper:2181
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - ./volumes/broker/data:/var/lib/kafka/data
    networks:
      - kafka-and-flink-example-network


  KafkaAndFlinkExampleKafkaConnect:
    build: ./
    container_name: KafkaAndFlinkExampleKafkaConnect
    image: confluentinc/cp-kafka-connect_with_plugin:7.3.3
    ports:
      - "8083:8083"
    links:
      - KafkaAndFlinkExampleZookeeper
      - KafkaAndFlinkExampleKafka
    depends_on:
      - KafkaAndFlinkExampleZookeeper
      - KafkaAndFlinkExampleKafka
    environment:
      # networking
      CONNECT_BOOTSTRAP_SERVERS: "KafkaAndFlinkExampleKafka:9092"
      CONNECT_REST_ADVERTISED_HOST_NAME: "KafkaAndFlinkExampleKafkaConnect"
      CONNECT_REST_PORT: "8083"
      # kafka
      CONNECT_GROUP_ID: "kc"
      CONNECT_CONFIG_STORAGE_TOPIC: "kc-config"
      CONNECT_OFFSET_STORAGE_TOPIC: "kc-offset"
      CONNECT_STATUS_STORAGE_TOPIC: "kc-status"
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: "1"
      # convertors
      CONNECT_KEY_CONVERTER: "io.confluent.kafka.serializers.KafkaAvroSerializer"
      CONNECT_VALUE_CONVERTER: "io.confluent.kafka.serializers.KafkaAvroSerializer"
      CONNECT_INTERNAL_KEY_CONVERTER: "io.confluent.kafka.serializers.KafkaAvroSerializer"
      CONNECT_INTERNAL_VALUE_CONVERTER: "io.confluent.kafka.serializers.KafkaAvroSerializer"
    volumes:
      - ./volumes/data:/tmp/data
    networks:
      - kafka-and-flink-example-network

  KafkaAndFlinkExampleKafkaRest:
    image: confluentinc/cp-kafka-rest:7.3.3
    hostname: KafkaAndFlinkExampleKafkaRest
    container_name: KafkaAndFlinkExampleKafkaRest
    links:
      - KafkaAndFlinkExampleZookeeper
      - KafkaAndFlinkExampleKafka
      - KafkaAndFlinkExampleKafkaConnect
    depends_on:
      - KafkaAndFlinkExampleZookeeper
      - KafkaAndFlinkExampleKafka
      - KafkaAndFlinkExampleKafkaConnect
    ports:
      - 8082:8082
    environment:
      KAFKA_REST_HOST_NAME: KafkaAndFlinkExampleKafkaRest
      KAFKA_REST_BOOTSTRAP_SERVERS: "KafkaAndFlinkExampleKafka:9092"
      KAFKA_REST_ZOOKEEPER_CONNECT: "KafkaAndFlinkExampleZookeeper:2181"
      KAFKA_REST_LISTENERS: "http://0.0.0.0:8082"
    networks:
      - kafka-and-flink-example-network

  #Flink
  KafkaAndFlinkExampleJobManager:
    image: flink:1.20
    container_name: KafkaAndFlinkExampleJobManager
    ports:
      - "8084:8081"  # Web UI
    command: jobmanager
    environment:
      - JOB_MANAGER_RPC_ADDRESS=KafkaAndFlinkExampleJobManager
    networks:
      - kafka-and-flink-example-network

  KafkaAndFlinkExampleTaskManager:
    image: flink:1.20
    container_name: KafkaAndFlinkExampleTaskManager
    depends_on:
      - KafkaAndFlinkExampleJobManager
    command: taskmanager
    environment:
      - JOB_MANAGER_RPC_ADDRESS=KafkaAndFlinkExampleJobManager
      - TASK_MANAGER_NUMBER_OF_TASK_SLOTS=2
    networks:
      - kafka-and-flink-example-network

networks:
  kafka-and-flink-example-network: